<h1>Framgia Vietnam</h1>

<p>chào đại ca <%= @user.name %>,</p>

<p>
mời đại ca ấn vào đây để kích hoạt tài khoản
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>